<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="{{url_for('static', filename='ico/favicon.ico')}}" />
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.5.1.min.js')}}" ></script>
		<script>
			function translate(sourceLang, destLang, sourceId, destId, loadingId) {
				$(destId).hide();
				$(loadingId).show();
				$.post('/translate', {
					text: $(sourceId).text(),
					sourceLang: sourceLang,
					destLang: destLang
				}).done(function(translated) {
					$(destId).text(translated['text'])
					$(loadingId).hide();
					$(destId).show();
				}).fail(function() {
					$(destId).text("{{ _('Error: Could not contact server.') }}");
					$(loadingId).hide();
					$(destId).show();
				});
			}
		</script>
		{% if g.locale and g.locale != 'en' %}
		<script type="text/javascript" src="/static/js/moment-{{g.locale}}.min.js" ></script>
		{% else %}
		<script type="text/javascript" src="{{url_for('static', filename='js/moment-en.min.js')}}" ></script>
		{% endif %}

		{% if user %}
			<title> gettext('Hello, %(name)s', name=user.username) </title>
		{% else %}
			<title> hello ,大怪兽！！ </title>
		{% endif %}
	</head>
	<body>
		<div>博客 : <a href="{{ url_for('index') }}">{{ _('Home') }}</a>|<a href="{{ url_for('imges') }}">{{ _('Imges') }}</a>
			{% if user and user.is_authenticated and user.username %}
			| <form style="display: inline;" action="{{url_for('search')}}" method="post" name="search">{{g.search_form.hidden_tag()}}{{g.search_form.search(size=20)}}<input type="submit" value="Search"></form>
			 | <a href="{{ url_for('user', username = user.username) }}">Your Profile</a>
			 | <a href="{{ url_for('upload_file') }}">Upload Your Files</a>
     		| <a href="{{ url_for('logout') }}">Logout</a>
     		{% endif %}
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
        		<ur>
        		{% for message in messages %}
            			<li>{{ message }}</li>
        		{% endfor %}
        		</ur>
        		{% endif %}
       		{% endwith %}
		{% block content %}

		{% endblock content %}
	</body>
</html>
